# circom artifacts
circuits/crs
circuits/zkey

# node build artifacts
dest

# node dependencies
node_modules
package-lock.json

# environment variables
.env

# errors & logs
yarn-error.log

# runtime artifacts
the_word_proof.json
db

# contract artifacts
contract/artifacts
contract/cache