# noir artifacts
circuits/proofs
circuits/Prover.toml
circuits/Verifier.toml
circuits/target
circuits/contract
crs

# node build artifacts
dest

# node dependencies
node_modules

# environment variables
.env

# errors & logs
yarn-error.log